.image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 70%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}
